$main-color: #D5C2B6;
$back-color: #F2F2F2;
$sec-color: #866860;
$add-btn: #4CAF50;
$del-btn: #f44336;

body {
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}
header {
    grid-column: 1/ -1;
    background-color: $sec-color;
    color: $back-color;
    display: flex;
    justify-content: center;
}
#side-bar {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 90vh;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    h2 {
        margin: 0;
        padding: 20px;
    }
    button {
        border: none;
        font-size: 18px;
        cursor: pointer;
        color: $back-color;
        &:hover {
            color: $sec-color;
        }
    }
    .input-project {
        visibility: hidden;
        position: absolute;
        top: 80px;
        background-color: $back-color;
        padding: 20px;
        border-radius: 8px;
        margin: 10px;
        input {
            width: 150px;
            height: 25px;
            border: none;
            outline: none;
            border: 2px solid $main-color;
            border-radius: 8px;
            font-size: 15px;
        }
        .project-control {
            display: flex;
            gap: 5px;
            justify-content: center;
            margin-top: 10px;
        }
        button {
            width: 50%;
            background-color: #457b9d;
            padding: 10px;
            font-size: 14px;
            border-radius: 8px;
        }
        .add {
            background-color: $add-btn;
        }
        .delete {
            background-color: $del-btn;
        }
    } 
    .project-btn {
        background-color: $back-color;
        color: $main-color;
        font-size: 16px;
        padding: 12px;
        border-radius: 8px;
        margin: 40px;
    }
.del-btn {
    background-color: $del-btn;
    color: $back-color;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
}
}
.project {
    font-size: 18px;
    cursor: pointer;
    color: $back-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cont-project {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
main {
    grid-column: 2/3;
    grid-row: -3/-2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
footer {
    grid-column: 1/-1;
    background-color: $back-color;
}



table {
    margin: 30px;
    width: 1000px;
    border-collapse: collapse ;

    th {
        padding: 20px;
        color: $sec-color;
        border-bottom: 2px solid $sec-color;
    }
    td {
        padding: 20px;
        text-align: center;
        border-bottom: 2px solid $main-color;

    }
    input {
        outline: none;
        height: 20px;
        border: none;
        background-color: $back-color;
    }

}
.del-task {
   border: none; 
   background-color: $del-btn;
   color: $back-color;
   padding: 8px;
   border-radius: 6px;
   cursor: pointer;
}
.add-task {
    border: none; 
    background-color: $add-btn;
    color: $back-color;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}
